.background_bomb{
  background-color: black;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  height: 100%;
  margin-top: -113px;

}

// .content_bombe img{
//   height: 100%;
// width:100%;




.bombe_infos{
margin-bottom: 10px;
}

.bombe_infos h2{
  // color: white;
display: flex;
align-items: center;
justify-content: center;
padding-top: 275px;
color: #b21b1b;
font-size: 40px;

}

.validate{
  display:flex;
  justify-content:center;
  align-items: center;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.code-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;

}

.code-input input {
  width: 210px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
  outline: none;
}



#disable-something {
  opacity: 1;
  transition: opacity 0.5s;
}

#disable-something.disabled {
  opacity: 0.5;
}

#disable-something.disabled .code-input input {
  animation: shake 0.4s ease-in-out 2;
}
