// Specific CSS for your home-page

  .content_home{
    background-color: black;
    height: 926px;
    // width: 390px;
    width: 100%;
  }

  .toplane img{
    height: 190px;
    // width: 390px;
    width: 100%;


  }

   .toplane .titre{
    background-color: black;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;

   }

   .toplane .titre h2{
    color: white;
    font-size: 24px;
   }



   .all_games .Tuto a{
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
   }



   .all_games .Tuto{
    background-image: url("http://imagizer.imageshack.com/v2/976x549q70/r/923/2fVN8E.png");
    height: 185px;
    // width: 390px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   }



//   //  .all_games .Alerte h2{
//   //   color: white;
//   //   font-size: 25px;
//   //   text-shadow: 1px 1px 2px black;
//   //   text-decoration: none;
// }

.btn_alerte{
  color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
    text-decoration: none;
    &:hover{
      color: red;
    }

}

   .all_games .Alerte{

    background-image: url("http://imagizer.imageshack.com/v2/976x549q70/r/922/ZwOQcn.png");
    height: 185px;
    // width: 390px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   }



   .all_games .Apo h2{
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 2px black;
}

   .all_games .Apo{

    background-image: url("http://imagizer.imageshack.com/v2/976x463q70/r/922/1ICBFF.png");
    height: 185px;
    // width: 390px;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
   }
