.rules_infos{
  background-color: black;
  background-image: url("http://imagizer.imageshack.com/v2/976x549q70/r/923/2fVN8E.png");

  object-fit: cover;
  background-repeat: no-repeat;
  color:white;
}
