
<div class="content_rules">
    <div class= "rules_infos">
      <h2>A fond les Indices</h2>
      <p> la somme des ciffrs est égal a la femme d'un élan</p>
    </div>
  </div>



<div class="navbar_home">
  <a href="" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i> Back
  </a>
</div>
