
<div class="content_bombe">
  <div class= "bombe_infos">
    <h2>ENTREZ LE CODE </h2>
  </div>
  <div class="code-input">
  <input type="text" maxlength="6" />
  <div class="btn_green_valider">
  Valider
  </div>
</div>
<div id="disable-something">
  <!-- Contenu à désactiver -->
</div>

</div>



<div class="navbar_home">
  <a href="" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i> Back
  </a>
</div>



<button class="primary" onclick="window.dialog.showModal();">Indice</button>
  <dialog id="dialog">
      <div class="popup-text">
        <h2>Indice de l'egnime</h2>
        <%# <p>A CSS-only modal based on the <a href="https://developer.mozilla.org/es/docs/Web/CSS/::backdrop" target="_blank">::backdrop</a> pseudo-class. Hope you find it helpful.</p> %>
      <p>cadre qui s'adapte au texte : Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque quisquam cumque aliquid amet obcaecati accusantium. Nesciunt odio praesentium quisquam iste fugiat totam voluptatum a ducimus sed illo fuga, possimus provident. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quae, officiis qui saepe soluta corporis est, perspiciatis et ab exercitationem dolores inventore quod velit voluptatem adipisci doloremque. Nam, iste enim? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum unde quis est quae nemo. Quam rerum deserunt, quia autem debitis a, id impedit nobis magnam est, possimus commodi harum. </p>
    </div>
	  <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
  </dialog>
