
<div class="content_bombe">
  <div class= "bombe_infos">
    <h2>ENTREZ LE CODE </h2>
  </div>
  <div class="code-input">
  <input type="text" maxlength="6" />
  <div class="btn_green_valider">
  Valider
  </div>
</div>
<div id="disable-something">
  <!-- Contenu à désactiver -->
</div>

</div>



<div class="navbar_home">
  <a href="" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i> Back
  </a>
</div>
