
  <div class="card_enigme">
    <h1>BRAVO !! </h1>
    <p> L'horloge tiquait, la menace grandissait, mais vous n'avez pas fléchi.Vous avez relevé le défi du Pélican, déchiffré ses énigmes tordues et contrecarré son plan malveillant qui menaçait notre cité bien-aimée.</p>
     <p> Vous avez mérité d'aller boire une bonne bière et deguster l'une de nos délicieuses spécialitée culinaire.</p>
     <p> Avec une gratitude infinie, nous vous disons : Merci.
     <p> Vous avez sauvé Lille. </p>

      <div class="poster">
    <p> <img src="https://imagizer.imageshack.com/img923/1715/uRZKnj.jpg" alt=""></p>

        <p> <%#= link_to "Voir le score final", final_score_path %> </p>
      <%= link_to home_path do %>
    <i  class= "continuez"></i>Retour au menu





 </div>
  </div>
