<div class="content_final_score">
  <div class="score">
    <h2>Votre score : 100</h2>
  </div>

  <div class="classement">
    <h3>Classement :</h3>
    <ol>
      <li>Joueur 1</li>
      <li>Joueur 2</li>
      <li>Joueur 3</li>
    </ol>
  </div>

  <div class="button-group">
    <%= link_to "Share", share_path, class: "btn_green_suivant" %>
  </div>
</div>
