<div class="full_rules">

<div class="content_rules">
    <div class= "rules_infos">
      <h2>Mon profil</h2>
      <p>Nous travaillons sur votre profil. Revenez bientôt pour le découvrir !</p>
    </div>
  </div>



<div class="navbar_home">
<div class='profil'>
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  </div>
</div>
</div>
