
<div class="content_rules">
    <div class= "rules_infos">
      <h2>Réglages</h2>
    </div>
  </div>



<div class="navbar_home">
<div class='profil'>
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>
  </div>
</div>
