<div class="content_rules">
    <div class= "rules_infos">
      <h2>Règles du jeu</h2>
      <p>Lorem ipsum dolor sit amet. Non rerum debitis ea odio veritatis et ducimus quidem in reprehenderit enim hic aperiam laboriosam qui soluta commodi. Quo sequi debitis rem nesciunt voluptatem aut nostrum accusamus ea nesciunt repellendus et quasi nihil. Et recusandae delectus et harum architecto et velit natus in optio galisum.
Est magni voluptatum ea consequatur sunt rem harum quos qui atque galisum et galisum quasi et accusamus earum ut exercitationem laboriosam. Et nihil assumenda et deserunt Quis eos animi architecto non dolorem voluptatibus est quas maxime? Ut reiciendis mollitia et minus nisi est voluptatem laudantium qui esse sunt sit nemo voluptatem aut consequatur rerum est quae provident? Aut reiciendis sunt ad iusto asperiores At commodi error.
Et aperiam sapiente non e labore ut consequuntur sint ab alias quae id voluptas voluptas. Sit veritatis nihil 33 magnam officiis vel velit facere est quidem adipisci vel iste pm quos qui atque galisum et galisum quasi et accusamus earum ut exercitationem laboriosam. Et nihil assumenda et deserunt Quis eos animi architecto non dolorem voluptatibus est quas maxime? Ut reiciendis mollitia et minus nisi est voluptatem laudantium qui esse sunt sit nemo voluptatem aut consequatur rerum est quae provident? Aut reiciendis sunt ad iusto asperiores At commodi error.
Et aperiam sapiente onsequuntur sint ab alias quae id voluptas voluptas. Sit veritatis nihil 33 magnam officiis vel velit facere est quidem adipisci vel iste pm quos qui atque galisum et galisum quasi et accusamus earum ut exercitationem laboriosam. Et nihil assumenda et deserunt Quis eos animi architecto non dolorem voluptatibus est quas maxime? Ut reiciendis mollitia et minus nisi est voluptatem laudantium qui esse sunt sit nemo voluptatem aut consequatur rerum est quae provident? Aut reiciendis sunt ad iusto asperiores At commodi error.
Et aperiam sapiente non repudiandae labore ut consequuntur sint ab alias quae id voluptas voluptas. Sit veritatis nihil 33 magnam officiis vel velit facere est quidem adipisci vel iste p</p>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Back
  <% end %>
</div>
