<div class="content_rules">
    <div class= "rules_infos">
      <h2>L'Énigme du Pélican : L'Escape Game Interactif de Lille</h2>
      <p>Objectif du Jeu :

Votre mission, si vous l'acceptez, est de sauver la ville de Lille d'un désastre imminent. Un criminel connu sous le nom du "Pélican" a planifié de détruire la ville avec une bombe fabriquée à partir d'Orge et de Malt. Vous devez résoudre une série d'énigmes et déchiffrer les indices laissés par le Pélican pour désamorcer la bombe et sauver la ville. Vous avez seulement 60 minutes pour réaliser cette mission.

Règles du Jeu :

Type de jeu : Il s'agit d'un jeu d'évasion interactif (Escape Game) dans lequel vous êtes plongé au cœur de Lille. Le jeu se déroule en temps réel, avec des indices cachés et des énigmes à résoudre dans différents lieux de la ville. Vous devrez explorer, observer et déduire pour arriver à votre objectif.

Temps limite : Vous disposez de 60 minutes pour déjouer le plan du Pélican et sauver Lille. Ce compte à rebours commence dès que vous commencez votre mission.

Indices et énigmes : Le Pélican a semé la ville d'indices et d'énigmes qui, une fois résolus, vous rapprocheront de la bombe. Chaque fois que vous trouvez et ouvrez un nouvel indice, 1 minute est soustraite du temps total pour sauver la ville.

Réponses incorrectes : Chaque fois que vous donnez une réponse incorrecte à une énigme, 1 minute est également soustraite du temps total pour sauver la ville. Il est donc crucial de bien réfléchir avant de répondre.

Fin du jeu : Le jeu se termine lorsque vous avez désamorcé la bombe et sauvé la ville, ou lorsque le temps est écoulé. Dans le dernier cas, malheureusement, le Pélican a réussi son plan maléfique et Lille est perdue.

Soyez vigilant, utilisez votre esprit de déduction et travaillez rapidement. Chaque minute compte dans votre mission pour sauver Lille du Pélican. Bonne chance !</p>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Back
  <% end %>
</div>
