<div class="content_rules">
    <div class= "rules_infos">
      <h2>Règles du jeu</h2>
      <p>Lorem ipsum dolor sit amet. Non s et quasi nihil. Et recusandae delectus et harum architecto et velit natus in optio galisum.
Est magni voluptatum ealuptas. Sit veritatis nihil 33 magnam officiis vel velit facere est quidem adipisci vel iste e est quidem adipisci vee est quidem adipisci vee est quidem adipisci vee est quidem adipisci vee es e est quidem adip e est quidem adipisci ve e est quidem adipisci vee est quidem adipisci vee est quidem adipisci vee est quidem adipisci vee est quidem adipisci ve e est quidem adipisci vee est quidem adipisci veisci ve e est quidem adipisci ve e est quidem adipisci vet quidem adipisci vee est quidem adipisci vee est quidem adipisci ve p</p>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Back
  <% end %>
</div>
