
<div class="content_rules">
    <div class= "rules_infos">
      <h2>Tutoriel </h2>
      <p>Pas le temps de faire un tutoriel mon pote, la ville va bientot peter.</p>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Back
  <% end %>
</div>
