
<div class="content_rules">
    <div class= "rules_infos">
      <h2>Tutoriel mon gars !</h2>
      <p>c'est bien de jouer au jeu</p>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Back
  <% end %>
</div>
