
<div class="content_rules">
    <div class= "rules_infos">
      <h2>Tutoriel </h2>
    </div>
  </div>



<div class="navbar_home">
  <%= link_to home_path do %>
    <i class="fa-solid fa-arrow-left"></i>Retour
  <% end %>
</div>
