<div class="principal-synop">
  <div class="synopsis-font">
      <div class= "Alerte-synop">
        <h2>Alerte à Lille</h2>
      </div>
      <div class="synopsis">
        <%= @game.synopsis %>
      </div>
      <div class="btn-cickable">
      <a class = "btn_green_jouer", <%= link_to "Jouer", game_user_games_path(@game), data: {turbo_method: :post, turbo_confirm: "Prêt pour l'aventure?"} %></a>
      </div>
  </div>
  <div class="navbar_game">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
    <a href="#"><i class="fa fa-fw fa-circle-info"></i> Indices</a>
    <a href="#"><i class="fa fa-fw fa-bomb"></i> Bombe</a>
  </div>
</div>
