



<div class="content_synopsis">
  <div class= "card_synopsis">
    <div class= "card_synopsis_infos">
    <h2>Alerte à Lille !</h2>
    <p>Lorem ipsum dolor sit a</p>
    </div>
  </div>

      <div>
     <a class = "btn_green_jouer", <%= link_to "Jouer", game_user_games_path(@game), data: {turbo_method: :post, turbo_confirm: "Are you sure?"} %>> </a>
    </div>



    <div class="navbar_game">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
    <a href="#"><i class="fa fa-fw fa-circle-info"></i> Indices</a>
    <a href="#"><i class="fa fa-fw fa-bomb"></i> Bombe</a>
    </div>
</div>
