.navbar_game {
  width: 100%;
  background-color: #ffffff;
  overflow: visible;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.navbar_game a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #255050;
  text-decoration: none;
  font-size: 12px;
}

.navbar_game a:hover {
  background-color: #a6c3c3;
}

@media (min-width: 992px) {
  .navbar_game {
    width: 30%;
    margin: 0 auto;
  }
}




.navbar_home {

  width: 100%;
  background-color: #ffffff;
  overflow: visible;
  display: flex;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}


.navbar_home a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #255050;
  ;
  text-decoration: none;
  font-size: 15px;
}


.navbar_home a:hover {
  background-color: #a6c3c3;
}


@media (min-width: 992px) {
  .navbar_home {
    width: 30%;
    margin: 0 auto;
  }
}
