.loggg{
  width: 350px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: auto;
  border-radius: 24px;
  text-align: center;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
