.container-startgame{
  background-color: black;
}

.title-startgame{
  color: #DFD8CA;

}

.confirmbutton-sg{
  background-color: #DFD8CA !important;
  color: rgba(7, 58, 74, 0.8) !important;
}

.container-penalty{
  background-color: black;
}

.confirmbutton-penalty{
  background-color: #DFD8CA !important;
  color: rgba(7, 58, 74, 0.8) !important;

//   background-color: rgba(7, 58, 74, 0.8)!important;
//   color: #DFD8CA !important;
}
