// .principal-synop {
//   background-color: black;
//   background-size: cover;
//   background-position: center;
//   overflow-y: auto;
//   height: 100%;

// }


.synopsis-font{
  background-image: url(https://imagizer.imageshack.com/img922/4516/YDwAGh.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100%;
  overflow-y: auto;
  // margin-bottom: 0;
  // ☝🏻 choisir entre 50px ou Opx en fonction de l'affichage souhaité
}

.Alerte-synop{
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Alerte-synop h2{
  font-size:40px;
  font-weight: bold;
}

.synopsis p{
  font-size:18px;

}

.synopsis{
  border: solid #DFD8CA;
  background-color: rgba(0,0,0,0.8);
  color: #DFD8CA;
  border-radius: 16px;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-top: 10px;
  margin-bottom: 80px;

}

.btn-cickable{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
