
.synopsis-font{
  position: relative;
  background-image: url(https://imagizer.imageshack.com/img922/4516/YDwAGh.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow-y: auto;
  margin-bottom: 0;





}

.Alerte-synop{
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
}

.Alerte-synop h2{
  font-size:40px;
  font-weight: bold;
}

.synopsis p{
  font-size:18px;

}

.synopsis{
  border: solid #DFD8CA;
  background-color: rgba(0,0,0,0.8);
  color: #DFD8CA;
  border-radius: 5px;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  margin-top: 10px;

}

.btn-cickable{
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
}
