
<div class="content_bombe">
  <div class= "bombe_infos">

    <h2><%= @enigma.title  %></h2>

         <%= form_with url: victory_path(@user_game), method: :post do %>
          <%= text_field_tag :code,
              params[:code],
              placeholder: "rentrez le code"%>
          <%= submit_tag "desactiver" %>


        <% end %>
  </div>
  <div class="code-input">


  <!-- Contenu à désactiver -->
</div>

</div>





<%# <div class="navbar_home">
  <a href="" onclick="history.back()">
    <i class="fa-solid fa-arrow-left"></i> Back
  </a>
</div> %>
