<div class="card_enigme">
      <%# <br>
      <br>
      <br>
      <br> %>

  <h1><%= @enigma.title %></h1>
  __________________________
  <p><%= @enigma.description.html_safe %></p>


 <% if @enigma.point_of_interest %>
      <%= link_to "Continuer", point_of_interest_path(@enigma.point_of_interest), class:"continuez" %>

    <% else %>
      <%= link_to "Continuer", enigma_path(Enigma.find_by_order_in_the_game(@enigma.order_in_the_game + 1)), class:"continuez" %>
      <%#= link_to "Voir le score final", final_score_path %>

      <% end %>
      <%# <br>
      <br>
      <br>
      <br> %>

</div>
