<div class="popup-false-answer">
  <h1>MAUVAISE REPONSE !</h1>
  <p>Ta réponse est incorrecte, la ville sautera une minute plus tôt, cliques sur la croix pour pouvoir choisir une autre réponse.</p>
</div>
