<div class="content_cards">

 <div class="card_enigme-container">

    <% case @enigma.enigma_type %>
      <% when "figuresenigma" %>
        <%= render 'figuresenigma' %>
      <% when "photos_QCM" %>
        <%= render 'photos_QCM' %>
      <% when "minigame" %>
        <%= render 'minigame' %>
    <% end %>

    </div>
<%# <%= console %>
</div>

<div class="navbar_game">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-user"></i> Profil</a>
    <a href="#"><i class="fa fa-fw fa-circle-info"></i> Indices</a>
    <a href="#"><i class="fa fa-fw fa-bomb"></i> Bombe</a>
  </div>
